div.container {
 width:100%;
 margin:0px;
 line-height:150%;
}

div.footer {
 padding: 0.5em;
 clear:left;
}

h1.header {
 color: white;
 background-color: orange;
 padding: 5pt;
 margin: 5pt;
}

h2 {
 font-size: 15pt;
}

h3 {
 font-size: 11pt;
}

.cite {
 font-size: 9pt;
}

div.sidebar {
 float: right;
 width: 20px;
 margin: 0;
 padding: 1em;
 font-size: 10pt;
}

div.content {
 margin-right: 40px;
 padding: 1em;
 font-size: 12pt;
}
